.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(18, 19, 18, 0.338);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.popup {
  background: white;
  position: relative;
  border-radius: 12px;
  padding: 2rem;
  max-width: 90vw;
  max-height: 90vh;
  width: fit-content;
  height: fit-content;
  overflow-y: auto;
  box-sizing: border-box;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: white;
  border: none;
}

.title {
  font-size: 17px;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container_inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.input-pequeno {
  max-width: 100px;
}

