.table-container .tabulator .tabulator-col {
  background-color: #3fb945c0; 
  color: #fff;
}
.tabulator .tabulator-footer .tabulator-page {
    background-color: #fff;
    color: #2e8b3f;
    border: 1px solid #53aa69;
    padding: 4px 8px;
    border-radius: 4px;
}
.tabulator .tabulator-footer .tabulator-page.active {
    color: #4c7248;
}
